html {
    font-family: "Barlow";
    background: url("gloves.JPG");
}

li {
    display: inline;
    padding: 10px;
    font-size: 1.5em;
}
ul {
    display: flex;

}

/* Mobile Width */ 

@media only screen and (max-width: 600px) {
    li {
      display: flex;
      flex-direction: column;
      font-size: 10px;
    }
  }